.appInnerRoot {
  width: 100%;
  background-color: black;
  min-height: 100vh;
  position: relative;
  padding: 40px 27px;
  box-sizing: border-box;
}

.appInnerRoot::before {
  content: "";
  position: absolute;
  width: 696px;
  height: calc(100% - 80px);
  border: 1px solid rgb(252, 227, 160);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 36px;
  pointer-events: none;
}

.top {
  position: relative;
}

.bgTitleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  height: 170px;
  padding-bottom: 18px;
}

.DEMO_MODE::before {
  content: "✨Portrait✨";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(166, 144, 127);
  font-size: 26px;
  font-weight: bold;
}

.bgTitle {
  color: rgb(166, 144, 127);
  width: 337px;
  transform: rotate(-58.5deg);
  transform-origin: left top;
  position: relative;
  left: -7px;
}

.bgTitle span {
  font: 26px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 84px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  padding: 44px 0 88px 0;
}

.title {
  /* color: rgb(224, 198, 151); */
  font-size: 58px;
  color: transparent;
  font-family: "Times New Roman", serif;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgb(166, 144, 127) 0,
    rgb(230, 210, 153) 22%,
    rgb(164, 144, 127) 45%,
    rgb(230, 210, 153) 78%,
    rgb(164, 144, 127) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 56px;
  margin: 0 auto;
  padding-bottom: 88px;
}