<!--
 * @Description: 
 * @Date: 2023-05-15 10:35:14
 * @Author: didi
 * @LastEditTime: 2023-05-16 17:34:04
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>万年历</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <!-- <script src="https://nginx.weface.com.cn/appH5/utils/vsconsole.min.js"></script>
    <script>
        // 初始化
        var vConsole = new VConsole();
        console.log('Hello world');
    </script> -->
  </body>
</html>
